[submodule ".\\mslearn-vue\\mslearn-vue-dynamic-render\\"]
	url = git@github.com:FDMJ/mslearn-vue-dynamic-render.git
[submodule ".\\mslearn-vue\\mslearn-vue-get-started\\"]
	url = git@github.com:FDMJ/mslearn-vue-get-started.git